#results {
  display: flex;
  flex-direction: column;
}

#results div {
  display: flex;
}

#filters {
  flex-direction: column;
}

.card {
  width: 150px;
  height: 265px;
  flex-direction: column;
}

.card span {
  font-size: 12px;
}

.card .image {
  margin-top: auto; /* Push the image to the bottom */
  align-self: flex-end; /* Align the image to the end (right) */
  width: 146px;
  height: 204px;
}

.not-found {
  background-color: red;
}
